<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 well">
            <div class="row" align="center">
                <h4><b>Email Notification Config</b></h4>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <form class="form-horizontal" ng-submit="onRegisterClick()">
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="model.email_form.toggle" ng-click="toggleEmail()"/> Enable Email Notification
                                </label>
                            </div>
                        </div>
                    </div>
                    <fieldset ng-disabled="!model.email_form.toggle">
                        <div class="form-group" >
                            <label for="email_inp" class="col-md-3 control-label">Email: </label>
                            <div class="col-md-9"><input class="form-control" type="email" placeholder="example@example.com" id="email_inp" ng-model="model.email_form.email" required></div>
                        </div>

                        <div class="form-group" >
                            <label for="server_inp" class="col-md-3 control-label">Send server: </label>
                            <div class="col-md-6"><input class="form-control" type="text" placeholder="smtp.server.com" id="server_inp" ng-model="model.email_form.server" required></div>
                            <label for="port_inp" class="col-md-1 control-label">Port: </label>
                            <div class="col-md-2"><input class="form-control" type="number" placeholder="port" id="port_inp" ng-model="model.email_form.port" required></div>
                        </div>

                        <div class="form-group" >
                            <label for="ssl_conf" class="col-md-3 control-label">SSL Config: </label>
                            <div class="col-md-9">
                                <select class="form-control" id="ssl_conf" ng-model="model.email_form.ssl" ng-required="model.email_form.usetls">
                                    <option value="">Without SSL</option>
                                    <option ng-repeat="conf in model.ssl_configs" ng-value="conf">{{conf}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="model.email_form.usetls" /> Use STARTTLS
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="model.email_form.auth" /> Authentication
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="check-element animate-show-hide" ng-show="model.email_form.auth">
                            <div class="form-group" >
                                <label for="user_inp" class="col-md-3 control-label">Username: </label>
                                <div class="col-md-9"><input class="form-control" type="text" placeholder="username"
                                                             id="user_inp" ng-model="model.email_form.user"
                                                             ng-required="model.email_form.auth" ng-keydown="model.auth_changed = true"></div>
                            </div>

                            <div class="form-group" >
                                <label for="pass_inp" class="col-md-3 control-label">Password: </label>
                                <div class="col-md-9"><input class="form-control" type="password"
                                                             placeholder="Set or change password" id="pass_inp"
                                                             ng-model="model.email_form.password"  ng-keydown="model.auth_changed = true"
                                                             ng-required="model.email_form.auth && (!model.registered || model.auth_changed)"></div>
                            </div>
                        </div>

                        <div class="form-group" >
                            <div class="col-md-offset-3 col-md-10">
                                <button  class="btn btn-default btn-inline" type="submit">Register</button>
                                <button  class="btn btn-default btn-inline" type="button" ng-disabled="!model.registered" ng-click="onTestClick()">Test mail</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="check-element animate-show-hide" ng-show="model.registered">
                    <div class="row" align="center">
                        <h4><b>Manage Recipients</b></h4>
                    </div>

                    <div class="row">
                       <form ng-submit="onAddClick()">
                           <div class="input-group">
                                <input type="email" class="form-control" placeholder="recipient@email.com" ng-model="model.recipient_email" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Add</button>
                                </span>
                            </div>
                       </form>
                    </div>

                    <div class="row">
                        <div class="row recipient btn-default" ng-repeat="(key,recipient) in model.recipients">
                            <div class="col-md-11">
                                {{recipient}}
                            </div>
                            <div class="col-md-1">
                                <a href="" ng-click="onRemoveClick(key)"><span class="glyphicon glyphicon-remove close"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>